---
//import Layout from '../layouts/Layout-light.astro';
import Hero from '../components/v2/Hero.astro'
import Card from '../components/Card.astro';
import AppFooter from '../components/v2/Footer.astro'
import Container from "../components/Container.astro"

/* #0C112D */
/* #224F7D */

const data = {
    title: "Uncle Buck's",
		tagline1: "Shoes For the Soul",
		tagline2: "Soul",
    subheader: "Equipping young men to put their best foot forward since 2023.",
    links: [
        { to: "./", label: "Home"},
        { to: "./about", label: "About Us"},
        { to: "./service", label: "Who We Serve"},
        { to: "./initiatives", label: "Initiatives"},
        { to: "./board", label: "Our Board"},
        { to: "./support", label: "Support"},
        { to: "./contact", label: "Contact Us"},
    ]
}

const backgroundColor =  'bg-slate-950' 
//const backgroundColor = 'bg-gray-900'




---

<style>
	html {
    /* font-family: Urbanist, sans-serif; */
    font-family: sans-serif;
    scroll-behavior: smooth;
  }

  body {
      margin: 0;
  }

  p {
    font-family: 'DM Sans', sans-serif;
  }

  .subtitle {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 48px;
    /* color: rgb(3,7,18) */
     background: -webkit-linear-gradient(#000000, #4897e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .subtitle-alternate {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 48px;
    background: -webkit-linear-gradient(#4897e8, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* .subtitle:after {
    content:' ';
    display:block;
    border:2px solid #4897e8;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  } */

  p {
    font-size: 20px;
    line-height: 2.0;
  }

	.max-w-50 {
		max-width: 50%
	}

	img {
		border-radius: 7px;
    box-shadow: 10px 4px 8px 0 rgba(0,0,0,0.2);
	}
  

	.heading-text-heading {
    /* font-size: var(--size-h2); */
    /* line-height: 1; */
    /* font-weight: 900; */
    /* text-transform: uppercase; */
	}

	.wwd-items {
		display: grid;
		grid-template-columns: repeat(3,1fr);
		grid-gap: 4em;
		margin: auto;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

  .who-we-serve {
    position: relative;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("atlanta-city-downtown-architecture-buildings-d29386-1024.jpg");
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    color: white;  
  }

  .who-we-serve-h2 :{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 48px;
    background: -webkit-linear-gradient(#FFFFFF, #4897e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .initiatives: {
    background-color: #ECF5FD;
  }

  .cta-button {
    background-color: #224F7D;  /* #4897e8 */;
    box-shadow: 7px 7px 8px 0 rgba(0,0,0,0.2);
    color: #fff;
    font-family: Trebuchet MS;
    font-size: 24px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 8px 18px;
    border: 0px solid #000;
    border-radius: 10px;
    display: inline-block;
  }
  .cta-button:hover{
    background-color: #448fdc;
  }
  .cta-button:active{
    transform: scale(0.95);
  }

  .cta-button-alt {
    background: -webkit-linear-gradient(#000000, #4897e8);
    box-shadow: 7px 7px 8px 0 rgba(0,0,0,0.2);
    color: #fff;
    font-family: Trebuchet MS;
    font-size: 24px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 8px 18px;
    /* border: 0px solid #000; */
    border-radius: 10px;
    display: block;
  }

  .cta-button-alt:hover{
    background-color: -webkit-linear-gradient(#448fdc, #fff);
  }
  .cta-button-alt:active{
    transform: scale(0.95);
  }

  /* .who-we-serve::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(3,7,18,0.75); 
  } */

</style>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Template built with tailwindcss using Tailus blocks v2" />
    <title>{data.title}</title>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Raleway:wght@900&family=DM+Sans:wght@400&display=swap" rel="stylesheet">
  </head>
  <body class=`bg-zinc-50 flex flex-col min-h-screen`>
    <header class=`${backgroundColor}`>
      <nav class="z-10 w-full border-b border-black/5 dark:border-white/5 lg:border-transparent">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
          <a href="" class="flex items-center">
            <img src="logo-minimal.png" class="h-16 mr-3" alt="Uncle Buck's Logo" />
            <span class="self-center text-4xl font-semibold whitespace-nowrap dark:text-white text-sky-600">
              {data.title}
            </span>
          </a>
          <button 
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" 
            data-collapse-toggle="navbar-default" 
            type="button" 
            aria-controls="navbar-default" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
              </svg>
          </button>
          <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul 
              
              class="font-medium flex p-4 md:p-0 mt-4 flex-row ">
              {
                data.links.map(link => (
                    <li class="p-4 text-white">
                      <a href={link.to} 
                          class="block">
                          {link.label}
                        </a>
                    </li>
                ))
              }
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="">
      <Hero />
			<!-- <div id="hero" 
        class=`
          hero relative 
          py-32 m-h-5/6 
          ${backgroundColor} 
          flex flex-row justify-center items-center` >
        <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
          <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
          <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
        </div>
				<div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6 ">
          <div>
            <h1 class="text-gray-900 dark:text-white font-bold text-7xl">{data.tagline1}</h1>
            <h2 class="text-gray-900 dark:text-white italic text-3xl">{data.subheader}</h2>
          </div>
				</div>
		</div> -->
			<div class="py-16 px-16 bg-zinc-50">
				<div class="max-w-7xl mx-auto">
          <div class="max-w-7xl mx-auto flex flex-row justify-evenly">
            <div class="flex-initial max-w-50 px-2">
              <img src="fixing-sleeves.jpg" style="width: 90%" class="ub-image" />
						</div>
						<div class="flex-initial max-w-50 px-2">
              <h2 class="text-left text-5xl text-zinc-500 py-8 subtitle">ABOUT US</h2>
							<p>
                At Uncle Buck's, our mission is to uplift and empower underprivileged men, 
                fostering lasting transformation in their lives and communities. 
                We are dedicated to breaking the cycle of disadvantage by providing comprehensive support, 
                education, and resources that enable men to realize their full potential.
              </p>
              <div class="py-6">
                <button class="cta-button">Learn More</button>
              </div>
							<!-- <p class="py-8">Uncle Buck’s is a non-profit organization that was Birthed out of the loss of a wonderful father, pastor, and friend. -->
								<!-- Uncle Buck’s provides restoration to young men across the greater Atlanta area.  -->
								<!-- Our founder noticed that there was a need for more than just the latest pair of sneakers for young men in the spiritual, professional, and educational realms.  -->
								<!-- After the loss of his father, Rev. Curlee “Uncle Buck” Windham, Sr., Todd Windham turned their bonding time into a service for young men, restoring quality shoes for quality men. -->
							<!-- </p> -->
					</div>
				</div>
			</div>
			</div>
      <hr />
			<div class="py-16 px-6 bg-zinc-50 who-we-serve" id="service">
				<div class="max-w-7xl mx-auto">
          <h2 class="text-center text-5xl py-8 subtitle-alternate">WHO WE SERVE</h2>
          <!-- <div class="flex-initial max-w-50 px-2"> -->
            <p>
              Uncle Buck’s provides restoration to young men across the greater Atlanta area 
              through our work in restoring gently worn shoes to a quality worthy of aiding men 
              in their next step in life.
            </p>
            <div class="max-w-7xl mx-auto flex justify-evenly py-6">
              <!-- <div class="wwd-items"> -->
                <!-- <Card title="Shoe Gifting" image={"gift-box-svgrepo-com.svg"}></Card>
                <Card title="Etiquette Classes" image={"tie-svgrepo-com.svg"}></Card>
                <Card title="Community Services" image={"group-svgrepo-com.svg"}></Card> -->
                <!-- </div> -->
                <div style={{width: '300px'}}>
                  <div id="giftings" style={{fontSize: '5em', textAlign: 'center'}}></div>
                  <p style={{fontSize: '1.5em', textAlign: 'center'}}>Shoes Gifted</p>
                </div>
                <div style={{width: '300px'}}>
                  <div id="giftings2" style={{fontSize: '5em', textAlign: 'center'}}></div>
                  <p style={{fontSize: '1.5em', textAlign: 'center'}}>Mentoring Classes</p>
                </div>
                <div style={{width: '300px'}}>
                  <div id="giftings3" style={{fontSize: '5em', textAlign: 'center'}}></div>
                  <p style={{fontSize: '1.5em', textAlign: 'center'}}>Community Workshops</p>
                </div>
              </div>
              <div class="py-6">
                <button class="cta-button-alt mx-auto">Learn More</button>
              </div>
              <!-- <div class="mx-auto py-6 text-center"><p>Learn more about who we serve</p></div> -->
				    <!-- </div> -->
            <!-- <div class="flex-initial max-w-50 px-2"> -->
              <!--<img src="atlanta-city-downtown-architecture-buildings-d29386-1024.jpg" style="width: 90%" class="ub-image" /> -->
            <!-- </div> -->
          </div>
			  </div>
      </div>
			<hr />
			<div class="py-16 px-6 bg-zinc-50">
				<div class="max-w-7xl mx-auto">
					<h2 class="text-left text-5xl text-zinc-500  py-8 subtitle">INITIATIVES</h2>
          <p>
            By partnering with local organizations, schools, and churches we are able to meet the needs 
            of young men while building our community outreach mission. 
            These partnerships are vital to the continued growth of Uncle Buck’s and helps us identify 
            ways that we can be advocates for the men we serve. Our initiatives are centered around three main focuses:
          </p>
					<div class="wwd-items">
            <Card title="Education" image={"graduation-cap-svgrepo-com.svg"}></Card>
						<Card title="Peronal Development" image={"tie-svgrepo-com.svg"}></Card>
						<Card title="Community" image={"group-svgrepo-com.svg"}></Card>
					</div>
          <button style={{margin: 'auto', display: 'block'}} class="cta-button">Partner With Us</button>
				</div>
			</div>
		</main>
    <AppFooter />
    </body>

    <script is:inline>
      function animateValue(obj, start, end, duration) {
      let startTimestamp = null;
      const step = (timestamp) => {
        if (!startTimestamp) startTimestamp = timestamp;
        const progress = Math.min((timestamp - startTimestamp) / duration, 1);
        obj.innerHTML = `${Math.floor(progress * (end - start) + start)}`;
        if (progress < 1) {
          window.requestAnimationFrame(step);
        }
      };
      window.requestAnimationFrame(step);
    }

    var observer = new IntersectionObserver(function(entries) {
      if(entries[0].isIntersecting === true)
        console.log('Element has just become visible in screen');
        animateValue(document.getElementById("giftings"), 0, 100,1000)
        animateValue(document.getElementById("giftings2"), 0, 25,900)
        animateValue(document.getElementById("giftings3"), 0, 79,1100)
    }, { threshold: [1] });

    observer.observe(document.getElementById("service"))

    
    // const obj = document.getElementById("giftings")
    // obj && animateValue(obj, 0, 100, 1000)
    </script>
</html>
